# ========================
# Variables globales
# ========================
DOCKER_NETWORK_NAME=mspr

# ========================
# Ports
# ========================
TRAEFIK_HTTP_PORT=80
GATEWAY_HTTP_PORT=8080

# ========================
# Keycloak
# ========================
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=changeme
KEYCLOAK_REALM=paye-ton-kawa
KEYCLOAK_INTERNAL_URL=http://keycloak:8080

# URLs Keycloak pour validation JWT
KEYCLOAK_ISSUER_URL=http://localhost/auth/realms/paye-ton-kawa
KEYCLOAK_JWKS_URL=http://keycloak:8080/auth/realms/paye-ton-kawa/protocol/openid-connect/certs

# Exemple client gateway (changer secret en prod)
KEYCLOAK_CLIENT_ID=gateway
KEYCLOAK_CLIENT_SECRET=changeme

# ========================
# RabbitMQ
# ========================
# URL commune du broker pour tous les services
RABBITMQ_URL=amqp://app:app@rabbitmq:5672/%2F

#Identifiants connexion interface rabbitmq
RABBITMQ_DEFAULT_USER=app
RABBITMQ_DEFAULT_PASS=app

# Exchange unique TOPIC pour tout le système d'événements
RABBITMQ_EXCHANGE=events
RABBITMQ_EXCHANGE_TYPE=topic

# (Compatibilité) — si certains services lisent une URL spécifique, on réutilise la même :
PRODUCT_RABBITMQ_URL=${RABBITMQ_URL}
ORDER_RABBITMQ_URL=${RABBITMQ_URL}
CUSTOMER_RABBITMQ_URL=${RABBITMQ_URL}


# ========================
# Product API
# ========================
PRODUCT_API_HOST=product-api
PRODUCT_API_PORT=8000
PRODUCT_POSTGRES_USER=postgres
PRODUCT_POSTGRES_PASSWORD=changeme
PRODUCT_POSTGRES_DB=product
PRODUCT_ROLE_READ=product:read
PRODUCT_ROLE_WRITE=product:write

# ========================
# Order API
# ========================
ORDER_API_HOST=order-api
ORDER_API_PORT=8000
ORDER_POSTGRES_USER=postgres
ORDER_POSTGRES_PASSWORD=changeme
ORDER_POSTGRES_DB=order
ORDER_ROLE_READ=order:read
ORDER_ROLE_WRITE=order:write

# ========================
# Customer API
# ========================
CUSTOMER_API_HOST=customer-api
CUSTOMER_API_PORT=8000
CUSTOMER_POSTGRES_USER=postgres
CUSTOMER_POSTGRES_PASSWORD=changeme
CUSTOMER_POSTGRES_DB=customer
CUSTOMER_ROLE_READ=customer:read
CUSTOMER_ROLE_WRITE=customer:write

# ========================
# CORS
# ========================
ALLOWED_ORIGINS=*
